.top-header__user-panel{
    display: flex;
    gap: 1rem;
    margin-left: auto;
    align-items: flex-end;
    color: #fff;
    font-size: 1rem;
}
.top-header__logout{
    width: 1.125rem;
    cursor: pointer;
    transition: filter 0.15s ease-in-out;
}
.top-header__logout:hover{
    filter: brightness(0) saturate(100%) invert(20%) sepia(94%) saturate(7419%) hue-rotate(358deg) brightness(112%) contrast(111%);
}
.top-header__logout img {
    width: 100%;
}

.cart-item__delete{
    width: 1rem;
    z-index: 155;
    height: 1rem;
    cursor: pointer;
    transition: filter 0.15s ease-in-out;
}
.cart-item__delete img{
    width: 100%;
}
.cart-item__delete:hover{
    filter: brightness(0) saturate(100%) invert(20%) sepia(94%) saturate(7419%) hue-rotate(358deg) brightness(112%) contrast(111%);
}

.menu__body {
    z-index: 10;
}
.menu__icon {
    z-index: 14;
}
.pagging{
    gap: 1rem;
}
.pagging__dots{
    cursor: default;
    margin: 0 .125rem
}
.pagging__arrow_disabled{
    pointer-events: none;
    color:#ababab;
}
.pagging__list{
    gap: unset;
}
.pagging__link._active{
    margin: 0 .5rem;
}
.body-header__search{
    border: 0;
    border-radius: 0;
    background-color: unset;
    position: relative;
}
.search-header__form{
    background-color: #e5eaeb;
    border: 1px solid #898989;
    border-radius: 5px;
}
.search-header__result{
    position: absolute;
    top: 100%;
    background-color: #fefefe;
    z-index: 1000;
    width: 100%;
    border-radius: 5px;
}
.search-header__result-list{
    padding: 15px;
}
.search-header__result-item{
    cursor: pointer;
    font-size: 1.125rem;
    width: fit-content;
}
.search-header__result-item:not(:last-child){
    margin: 0 0 1rem 0;
}

.body-header__information{
    z-index: 20;
}
.information__shop,.information__fav,.information__number,.top-header__user{
    z-index: 12;
}
.catalog-header__menu{
    z-index: 13;
}
.actions-product__buy{
    box-shadow: 0 4px 20px 0 rgba(93, 138, 168, 0.43);
}
.actions-product__cart{
    display: block;
}
.actions-product__cart-link{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: .75rem;
}
.actions-product__cart-have{
    font-size: .75rem;
}
.product-price{
    gap: 0.25rem;
    text-wrap: nowrap;
    flex-wrap: wrap-reverse;
}
.product-price__old{
    margin-left: auto;
}
.cart-button{
    flex-direction:row-reverse;
}
.cart-item__quantity{
    flex: 0 0 auto;
}
button{
    font-size: inherit;
    cursor: pointer;
}
.cart-button{
    transition: background-color 0.2s ease-in-out;
}
.cart-button._in-cart{
    background-color: #228b22;
}
.cart-button.cart-button._in-cart._remove{
    background-color: #e7401b;
}
.cart-item__title{
    display: inline-block;
    margin: 0 0 0.5rem 0;
}
.cart-item__title:hover{
    text-decoration: underline 1px solid black;
    text-underline-offset: 0.25rem;
}
.cart-item__price{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.cart-item__image{
    position: relative;
    display: flex;
    height: 5.75rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.cart-item__image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}
.cart-item__image::after{
    content: "";
    display: block;
    width: 0.0625rem;
    height: 100%;
    background-color: #ababab;
    z-index: 1;
    position: absolute;
    right: 0;
    transform: translateX(0.5rem);
}
.cart-item__quantity {
    align-self: flex-end;
}

@media (min-width: 992px){
    .cart-item__qty{
        margin-right: 1rem;
    }
}
.cart__body{
    position: relative;
}
.cart__no-items{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.cart__no-items-image{
    width: 124px;
}
.cart__no-items-text{
    font-size: 1.5rem;
}
.cart-item{
    position: relative;
}
.cart-item__delete{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
.cart-item__delete::before{
    color: black;
    font-size: 1.125rem;
    position: relative;
    top: 0.25rem;
    transition: 0.1s ease-in-out color;
}
.cart-item__delete:hover::before{
    color: red;
}
.product-card-actions__like._in-favorite{
    color: orange;
}
.product-card-actions__like._in-favorite:hover{
    color: black;
}